@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0f0f1a;
  color: white;
}

html,
body {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}


@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-wave {
  animation: wave 10s linear infinite;
  will-change: transform;
}
